html,
body {
  height: 100%;
  margin:0;
  font-family: 'Open Sans', sans-serif;
  color:white;
}

body {
  display: flex;
  flex-direction: column;
  background:#50B6E6;
  font-size:1em;
}

header {
    height:15%;
}
   
footer {
    height:5%;
    text-align: center;
    font-size: 0.8em;
}

main {
    flex:1;  
    background:#50B6E6;
    text-align: center;
}

.name {
    color:white;
    font-size:3em;
}
.name > p{
    margin-bottom:2px;
}
.job > p{
    margin-top:0px;
    margin-bottom: 30px;
}
.socials{

}
.socials > a {
    color:white;
    text-decoration: none;
    font-weight: lighter;
}

@media (min-width:320px)  { 
    body{
        font-size: 1em;
    }
    
    .name {
        font-size: 4em;
    }
}

@media (min-width:481px)  { 
    body{
        font-size: 1em;
    }
    
    .name {
        font-size: 3em;
    }
}
@media (min-width:641px)  { 
    body{
        font-size: 2em;
    }
    
    .name {
        font-size: 3em;
    }
 }
@media (min-width:961px)  { 
    body{
        font-size: 1.5em;
    }
    
    .name {
        font-size: 4em;
    }
 }
@media (min-width:1025px) { 
    body{
        font-size: 1em;
    }
    
    .name {
        font-size: 3em;
    }


 }


